<form action="/insert" method="post">
    <label for="idCantidadContratoSubastadora">ID Cantidad Contrato Subastadora:</label>
    <input type="number" id="idCantidadContratoSubastadora" name="idCantidadContratoSubastadora"><br><br>
    
    <label for="idCantidadContratoProductora">ID Cantidad Contrato Productora:</label>
    <input type="number" id="idCantidadContratoProductora" name="idCantidadContratoProductora"><br><br>
    
    <label for="idCantidad_NContrato">ID Cantidad N Contrato:</label>
    <input type="number" id="idCantidad_NContrato" name="idCantidad_NContrato"><br><br>
    
    <label for="idCantidadCatalogoProductora">ID Cantidad Catalogo Productora:</label>
    <input type="number" id="idCantidadCatalogoProductora" name="idCantidadCatalogoProductora"><br><br>
    
    <label for="idCantidadCorte">ID Cantidad Corte:</label>
    <input type="number" id="idCantidadCorte" name="idCantidadCorte"><br><br>
    
    <label for="idCantidadvnb">ID Cantidad VNB:</label>
    <input type="number" id="idCantidadvnb" name="idCantidadvnb"><br><br>
    
    <label for="NumLote">Número de Lote:</label>
    <input type="number" id="NumLote" name="NumLote"><br><br>
    
    <label for="bi">BI:</label>
    <input type="number" id="bi" name="bi"><br><br>
    
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad"><br><br>
    
    <label for="precioInicial">Precio Inicial:</label>
    <input type="number" step="0.01" id="precioInicial" name="precioInicial"><br><br>
    
    <label for="precioFinal">Precio Final:</label>
    <input type="number" step="0.01" id="precioFinal" name="precioFinal"><br><br>
    
    <label for="idFactura">ID Factura:</label>
    <input type="number" id="idFactura" name="idFactura"><br><br>
    
    <input type="submit" value="Submit">
  </form>